<ion-content>


  <ion-item class="ion-no-padding" lines="none" style="--background: #f58e05;color: white;">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="light" style="font-size: 25px;" name="arrow-back"></ion-icon>
        <ion-icon color="light" style="font-size: 30px;" src="../../../assets/icon/shopping-cart.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>
      <div style="position: relative;top: 5px;font-weight: bold;font-size: 20px;">Search products</div>
      <div style="font-size: 12px;position: relative;bottom: 3px;">E-Commerce</div>
    </ion-label>
  </ion-item>
  <app-header-modal></app-header-modal>


  <ion-searchbar animated (ionChange)="buscar ($event)"></ion-searchbar>

</ion-content>