<ion-content>

  <app-headerd title="Search products"></app-headerd>

  <ion-grid style="padding: 15px;padding-top: 0;padding-bottom: 90px;" fixed>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar mode="ios" animated (ionChange)="buscar ($event)"></ion-searchbar>
      </ion-col>
      <ion-col size="6" style="height: 240px;padding-right: 20px;" *ngFor="let p of products | filtro: textSearch">

        <app-product-card [p]="p"></app-product-card>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>