<ion-content>
  <div class="header">
  
  <ion-item lines="none" style="--background: #c50505;color: white;">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="light" style="font-size: 25px;" name="arrow-back"></ion-icon>
        <ion-icon color="light" style="font-size: 30px;" src="../../../assets/icon/shopping-cart.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>
      <div style="position: relative;top: 5px;font-weight: bold;font-size: 20px;color: #ffc404;">Credit Card</div>
      <div style="font-size: 12px;position: relative;bottom: 3px;">E-Commerce</div>
    </ion-label>
  </ion-item>
  <app-shape-header></app-shape-header>
</div>
  <div style="padding-left: 20px;padding-right: 20px;">

    <ion-card style="--background: linear-gradient(to right, #b6afae, #646262);  min-height: 155px;">
      <ion-item class="ion-no-padding" style="--background: transparent;" lines="none">
       <ion-buttons slot="start">
         <ion-button (click)="onClick()">
           <ion-icon slot="start" style="font-size: 35px;" name="logo-github"></ion-icon>     
         </ion-button>
       </ion-buttons>
      </ion-item>

      
      <div style="padding: 20px;color: white;font-size: 16px;font-weight: bold;padding-top: 0;padding-bottom: 0;">
        <div *ngIf="card.name" style="text-transform: capitalize;">{{card.name}}</div> 
        <div *ngIf="!card.name">Owner Name</div> 
        <div style="font-size: 23px;" *ngIf="!card.cardnumber">**** **** **** ****</div>
       <div *ngIf="card.cardnumber">{{formatCardNumber()}}</div> 
      </div>


      <div style="padding: 20px;color: white;font-size: 13px;font-weight: bold;padding-top: 20px;padding-bottom: 10px;">
        <div>Valid Thru</div>
        <div *ngIf="!card.expiryDate">00/00</div>
        <div *ngIf="card.expiryDate">{{formatExpiryDate()}} </div> 
      </div>
    </ion-card>

  </div>



  <ion-grid style="padding-left: 20px;padding-right: 20px;" fixed>
    <ion-row>
      <ion-col size="12">   
        <ion-item class="shadow" lines="none" style="border-radius: 20px">
          <ion-label style="font-size: 13px;" color="medium" position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="card.name" required></ion-input>
        </ion-item>     
    </ion-col>
      <ion-col size="12">   
          <ion-item class="shadow" lines="none" style="border-radius: 20px">
            <ion-label style="font-size: 13px;" color="medium" position="floating">Card Number</ion-label>
            <ion-input type="tel" [(ngModel)]="card.cardnumber" maxlength="16" required></ion-input>
          </ion-item>     
      </ion-col>    
      <ion-col size="6">
        <ion-item class="shadow" lines="none" style="border-radius: 20px">
          <ion-label style="font-size: 13px;" color="medium" position="floating">Expiry Date</ion-label> 
              <ion-datetime  style="font-size: 13px;" [(ngModel)]="card.expiryDate" max="2030-12-31" display-format="MM-YYYY"></ion-datetime>        
        </ion-item>  
      </ion-col>
      <ion-col size="6">
        <ion-item class="shadow" lines="none" style="border-radius: 20px">
          <ion-label style="font-size: 13px;" color="medium"  position="floating">CVV</ion-label>
          <ion-input type="tel" [(ngModel)]="card.cvv" maxlength="3" required></ion-input>
        </ion-item>  
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center" style="position: relative;top: 15px;padding-left: 16px;padding-right: 16px;">
    <ion-button (click)="pay()" color="secondary" style="text-transform: capitalize;font-size: 13px;" shape="round" >
      Confirm 
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>