<ion-content>

  <app-headerd title="Notifications"></app-headerd>

  <ion-item  *ngFor="let n of notifications" style="--background: tranparent;">
    <ion-avatar slot="start">
      <img src="{{n.img}}">
    </ion-avatar>
    <ion-label class="ion-text-wrap" style="color:#3c3c3a;font-size: 14px;font-weight: bold;">{{n.title}}
      <div style="color: gray;font-size: 11px;">{{n.content}} </div>
    <div style="font-size: 9px;color: rgb(172, 171, 171);padding-top: 5px;">{{n.date | dateAgo}}</div>
    </ion-label>
  </ion-item>

</ion-content>
