<ion-content>
  <app-headerd backButtonModal="true" [title]="product.name"></app-headerd>



  <div style="padding: 20px;padding-top: 0;">

    <div class="square shadow">
      <img src={{product.img}}>
    </div>
    
    <div style="padding-top: 15px;">


      <ion-card class="shadow" style="border-radius: 20px;padding:20px;">


        <h3 style="color: #5f5959;padding-bottom: 10px;">Description</h3>


        <p style="color: #908484;font-size: 12px;text-align: justify;padding-bottom: 10px;">{{product.description}}</p>



        <ion-item lines="none" class="ion-no-padding">
          <ion-label color="primary" style="font-size: 20px;"> {{product.price| currency: 'USD'}} </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="favActive()">
              <ion-icon *ngIf="!product.fav" color="medium" style="padding-right: 5px;font-size: 20px;"
                name="heart-outline"></ion-icon>
              <ion-icon *ngIf="product.fav" color="primary" style="padding-right: 5px;font-size: 20px;" name="heart">
              </ion-icon>
            </ion-button>
            <ion-button (click)="AddProduct()" fill="solid" shape="round" color="secondary">
              <span style="font-size: 10px;">Add to Cart</span>
            </ion-button>
          </ion-buttons>
        </ion-item>

      </ion-card>
    </div>
  </div>


</ion-content>