<ion-card style="width: 100%;height: 150px;border-radius: 12px;">
  <div class="square-card">
    <img src={{p.img}}>
  </div>
</ion-card>

<ion-grid fixed style="position: absolute;top: 160px;bottom: 50px;left: 10px;">
  <ion-row>
    <ion-col size="12" style="color: #5f5959;font-size: 14px;text-align: start;">

      {{p.name}}
      <ionic5-star-rating #rating activeIcon="star" defaultIcon="star-outline" activeColor="#ffc404"
        defaultColor="#cccccc" readonly="true" rating="{{ p.rating }}" fontSize="11px">
      </ionic5-star-rating>

      <div style="color: #c50505;font-size: 14px;">{{p.price | currency: 'USD'}}</div>
    </ion-col>

  </ion-row>
</ion-grid>