
  
   
  .badge-1 {
    position: absolute;
    left: 43px;
    bottom: 33px;
    width: 19px;
    height: 19px;
    padding-top: 4px;
    padding-left: 6px;
    border-radius: 50%;
    background: #2c3144;
    color: white;
    font-size: 11px;
 
  }

  .badge-2 {
    position: absolute;
    left: 43px;
    bottom: 33px;
    width: 19px;
    height: 19px;
    padding-top: 4px;
    padding-left: 4px;
    border-radius: 50%;
    background: #2c3144;
    color: white;
    font-size: 11px;
 
  }

.cartSelected{
  color: #d40202;
  font-size: 40px;
}

.cartSelectednone{
  font-size: 40px;
  color: white;
}

ion-tab-button{
  --color-selected: #ffc404;
  --color: white;
}
ion-tabs{
    ion-fab {
      margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
      ion-fab-button {
        --box-shadow: none;
        --background: linear-gradient(to right, #ffd104, #ffc404);
      }
    }
    ion-tab-bar {
      --border: 0;
      --background: transparent;
      position: absolute;
      bottom: 0;
      left:0; right: 0;
      width: 100%;
      &:after{
        content: " ";
        width: 100%;
        bottom: 0;
        background: white;
        height: env(safe-area-inset-bottom);
        position: absolute;
      }
      ion-tab-button {
        --background: #c50505;
      }
      ion-tab-button.comments {
        margin-right: 0px;
        border-top-right-radius: 18px;
      }
      ion-tab-button.notifs {
        margin-left: 0px;
        border-top-left-radius: 18px;
      }
      svg {    
        width: 90px;
        margin-top: 19px;
        path{
          fill:  #c50505;
        }		
      }
    }
}