<ion-content>
  <div class="header">
  <ion-item lines="none" style="--background: #c50505;color: white;">
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/shopping-cart">
        <ion-icon color="light" style="font-size: 25px;" name="arrow-back"></ion-icon>
        <ion-icon color="light" style="font-size: 30px;" src="../../../assets/icon/shopping-cart.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>
      <div style="position: relative;top: 5px;font-weight: bold;font-size: 20px;color: #ffc404;">Payment</div>
      <div style="font-size: 12px;position: relative;bottom: 3px;">E-Commerce</div>
    </ion-label>
  </ion-item>
  <app-shape-header></app-shape-header>
</div>

<ion-grid class="animate__animated animate__bounceIn" [class.animate__animated]="animate" [class.animate__bounceOut]="animate"  fixed>
  <ion-row>
    <ion-col class="ion-no-padding" style="padding-right: 15px;" size="6">
      <ion-card (click)="PayPalPayment()" style="width: 100%;height: 170px;border-radius: 10px;  --background: linear-gradient(to right,#003d8d, #005fd2);" class="shadow ion-text-center">
      <ion-icon style="font-size: 80px; padding-top: 30px;" src="../../../assets/icon/paypal.svg"></ion-icon>
      <div style="color: white; font-weight: bold;">
        PayPal
      </div>
      </ion-card>
    </ion-col>   
    <ion-col class="ion-no-padding" style="padding-right: 15px;" size="6">
      <ion-card (click)="creditCardMethod()"  style="width: 100%;height: 170px;border-radius: 10px;  --background: linear-gradient(to right, #df414e, #dd636e);" class="shadow ion-text-center">
        
         <ion-icon style="font-size: 80px; padding-top: 30px;" src="../../../assets/icon/credit-card.svg"></ion-icon>

         <div style="color: white; font-weight: bold;padding-left: 10px;padding-right: 10px;">
          Credit Card
        </div>
      </ion-card>
    </ion-col>  
    
  </ion-row>
 
  
</ion-grid>



</ion-content>