<ion-content>

  <ion-item class="ion-no-padding" lines="none" style="--background: #f58e05;color: white;">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="light" style="font-size: 25px;" name="arrow-back"></ion-icon>
        <ion-icon color="light" style="font-size: 30px;" src="../../../assets/icon/shopping-cart.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>
      <div style="position: relative;top: 5px;font-weight: bold;font-size: 20px;">Payment</div>
      <div style="font-size: 12px;position: relative;bottom: 4px;">E-Commerce</div>
    </ion-label>
  </ion-item>
  <app-header-modal></app-header-modal>

  <div style="width: 300px;padding-left: 15px;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">

          <div style="padding-right: 15px;">
            <ion-card class="shadow" style="width: 120px;height: 120px;border-radius: 10px;">

              <ion-buttons>
                <ion-button 
                  style="width: 115px;height: 115px;padding: 10px;padding-bottom: 10px;">
                  <ion-icon style="font-size: 100px;color: #80808000;" src="../../../assets/icon/paypal.svg"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-card>
          </div>

        </ion-col>

        <ion-col size="6">

          <div style="padding-right: 15px;">
            <ion-card class="shadow" style="width: 120px;height: 120px;border-radius: 10px;">

              <ion-buttons>
                <ion-button (click)="paymentDetail(p)"
                  style="width: 115px;height: 115px;padding: 10px;padding-bottom: 10px;">
                  <ion-icon style="font-size: 100px;color: #80808000;"
                    src="../../../assets/icon/tarjeta-de-credito.svg"></ion-icon>
                </ion-button>
              </ion-buttons>
              <span style="position: relative;bottom: 25px;color: gray;left: 45px;color: #f58e05;">Credit card</span>
            </ion-card>
          </div>

        </ion-col>

        <ion-col size="6">

          <div style="padding-right: 15px;">
            <ion-card class="shadow" style="width: 120px;height: 120px;border-radius: 10px;">

              <ion-buttons>
                <ion-button 
                  style="width: 115px;height: 115px;padding: 10px;padding-bottom: 10px;">
                  <ion-icon style="font-size: 100px;color: #80808000;" src="../../../assets/icon/efectivo.svg">
                  </ion-icon>
                </ion-button>
              </ion-buttons>
              <span style="position: relative;bottom: 25px;color: gray;left: 45px;color: #f58e05;">Cash</span>
            </ion-card>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>