<ion-content>

  <app-header title="Profile"></app-header>
   
    <div style="padding-bottom: 65px;padding-top: 20px;">
      <div style="padding-left: 5px;padding-right: 25px;">
        <ion-card style="width: 100%;height: 350px;border-radius: 25px;" class="shadow">
         <ion-buttons style="font-size: 24px; padding: 8px;">
           <ion-button (click)="onClick()">
             <ion-icon name="ellipsis-vertical-outline" color="primary" ></ion-icon>
           </ion-button>
         </ion-buttons>
         <center style="padding-top: 10px;">
 
           <ion-avatar style="width: 120px;height: 120px;">
             <img src="https://files.rcnradio.com/public/styles/m_img_680x464/public/2019-04/thor_endgame_1_0.jpeg?itok=BedO9-_V" />
           </ion-avatar>
 
           <div style="font-size: 25px;color: #5f5959;">Rene Grillet</div>
            <div style="color: #f58e05;">@Reneg</div>
 
           <ion-grid fixed>
             <ion-row>
               <ion-col size="12" style="padding-top: 8px;font-size: 12px;color: #5f5959;">
                 <ion-col size="4" >
                   Expenses
                 </ion-col>
                 <ion-col size="4" style="padding: 50px;">
                   Credits
                 </ion-col>
                 <ion-col size="4">
                   Orders
                 </ion-col>
               </ion-col>
               <ion-col size="12" style="font-size: 12px;color: #f58e05;">
                 <ion-col size="4">
                   {{ expenses | currency: 'USD'}}
                 </ion-col>
                 <ion-col size="4" style="padding: 60px;">
                   {{ credits | currency: 'USD'}}
                 </ion-col>
                 <ion-col size="4">
                   {{ orders | currency: 'USD'}}
                 </ion-col>
               </ion-col>
             </ion-row>
           </ion-grid>
         </center>
        </ion-card>
      </div>
     
      <div>
        <ion-item lines="none" style="padding-left: 14px;--background: transparent;">
          <ion-label style="font-size: 15px;color: #5f5959;">
            Overview
          </ion-label>
          <ion-icon style="font-size: 24px;color:#f58e05;padding-right: 128px;" name="notifications-outline" ></ion-icon>
          <span style="font-size: 15px;color:#f58e05;" slot="end">July,13/21</span>
        </ion-item>
      </div>
 
         <div style="padding-left: 15px;padding-right: 15px;padding-bottom: 2px;">
           <ion-card class="shadow" style="border-radius: 20px">
             <ion-grid fixed>
               <ion-row>
                 <ion-col size="12" style="height: 45px">
                   <ion-col size="4">
                     <img class="card-img" src="https://legalfellalaw.files.wordpress.com/2020/05/delivery-supone-ventas-sector-comida_1428467147_451467_660x387.jpg" />
                   </ion-col>
                   <ion-col size="4" style="color:#5f5959">
                     Sent
                   </ion-col>
                   <ion-col size="4" style="padding-left: 100px;color:#f58e05">
                     90
                   </ion-col>
                 </ion-col>
               </ion-row>
             </ion-grid>
           </ion-card>
         </div>
 
         <div style="padding-left: 15px;padding-right: 15px;padding-bottom: 2px;">
           <ion-card  class="shadow" style="border-radius: 20px">
             <ion-grid fixed>
               <ion-row>
                 <ion-col size="12" style="height: 45px">
                   <ion-col size="4">
                     <img class="card-img" src="https://thumbs.dreamstime.com/b/entrega-sin-contacto-mensajero-de-dibujos-animados-que-lleva-paquetes-los-clientes-se-ponen-en-cuarentena-vector-banner-del-194877949.jpg" />
                   </ion-col>
                   <ion-col size="4" style="color:#5f5959">
                     Recive
                   </ion-col>
                   <ion-col size="4" style="padding-left: 86px;color:#f58e05">
                     80
                   </ion-col>
                 </ion-col>
               </ion-row>
             </ion-grid>
           </ion-card>
         </div>
 
 
         <div style="padding-left: 15px;padding-right: 15px;padding-bottom: 2px;">
           <ion-card class="shadow" style="border-radius: 20px">
             <ion-grid fixed>
               <ion-row>
                 <ion-col size="12" style="height: 45px">
                   <ion-col size="4">
                     <img class="card-img" src="https://previews.123rf.com/images/quartadis/quartadis1712/quartadis171200175/92242420-concepto-de-dinero-paquete-de-billetes-de-banco-y-efectivo-monedas-de-d%C3%B3lar-de-oro-riqueza-%C3%A9xito-financie.jpg" />
                   </ion-col>
                   <ion-col size="4" style="color:#5f5959">
                     Tips
                   </ion-col>
                   <ion-col size="4" style="padding-left: 68px;color:#f58e05;padding-bottom: 30px;">
                     {{ tips | currency: 'USD'}}
                   </ion-col>
                 </ion-col>
               </ion-row>
             </ion-grid>
           </ion-card>
         </div>
   </div>
     

</ion-content>