<ion-content>

  <app-headerd title="Profile"></app-headerd>
   
    <div class="ion-text-center" style="padding-bottom: 65px;">
      <div  style="padding-left: 20px;padding-right: 40px;">
        <ion-card  style="width: 100%;height: 350px;border-radius: 10px;" class="shadow">
         <ion-buttons style="font-size: 24px; padding: 8px;">
           <ion-button (click)="options()">
             <ion-icon name="ellipsis-vertical-outline" color="medium" ></ion-icon>
           </ion-button>
         </ion-buttons>
         <div style="padding-top: 10px;">
 
           <ion-avatar style="width: 160px;height: 160px;margin: 0 auto">
             <img src="https://files.rcnradio.com/public/styles/m_img_680x464/public/2019-04/thor_endgame_1_0.jpeg?itok=BedO9-_V" />
           </ion-avatar>
 
           <div style="font-size: 25px;color: #5f5959;">Rene Grillet</div>
           <ion-text color="primary">
            <div>@Reneg</div>
           </ion-text>
            
 
         </div>

        
        </ion-card>
      </div>
   
   </div>
     

</ion-content>