<ion-item lines="none" style="--background: #c50505;color: white;padding-left: 0;">

  <ion-buttons  slot="start">  
    
    <ion-button *ngIf="backButtonModal" (click)="close()">
      <ion-icon color="light" style="font-size: 25px;" name="arrow-back"></ion-icon>     
    </ion-button>
    <ion-back-button *ngIf="backButton" defaultHref="/"></ion-back-button>
    <ion-button>
      <ion-icon color="light" style="font-size: 30px;" src="../../../assets/icon/shopping-cart.svg"></ion-icon>
    </ion-button>
   
  </ion-buttons>
  
  <ion-buttons  *ngIf="router.url !== '/login' && router.url !== '/new-user' && router.url !== '/tabs/user-profile/user-purchases'" slot="end">
    <ion-button (click)="GoToPurchases()">
      <ion-icon slot="end" style="font-size: 30px;"   src="../../../assets/icon/bag.svg"></ion-icon>
        </ion-button>
  </ion-buttons>
  <ion-label>
    <div style="position: relative;top: 5px;font-weight: bold;font-size: 20px;color: #ffc404;">{{title}}</div>
    <div style="font-size: 12px;position: relative;bottom: 3px;">E-Commerce</div>
  </ion-label>

</ion-item>



<app-shape-header></app-shape-header>