/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~animate.css/animate.min.css';

.did-floating-label-content { 
    position:relative; 
    margin-bottom:20px; 
  }
  .did-floating-label {
    color:gray; 
    font-size:13px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:15px;
    top:15px;
    padding:0 5px;
    background:#fff;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .did-floating-input, .did-floating-select {
    font-size:12px;
    display:block;
    width:100%;
    height:46px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    box-sizing: border-box;
    &:focus{
      outline:none;
      ~ .did-floating-label{
        top:-8px;
        font-size:13px;
      }
    }
  }
     
  .did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
    top:-8px;
    font-size:13px;
  }