<ion-content>

  <app-headerd backButton="true" title="Purchases"></app-headerd>
  <div *ngIf="waiting">
       <ion-grid style="padding:0px 15px 70px 15px;" fixed>
      <ion-row>
        <ion-col  *ngFor="let p of [1,1,1,1,1,1,1,1,1]" size="12">
          <ion-card class="shadow">
            <div class="square">
              <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
            </div>
           <div class="ion-padding" >
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></div>
          </ion-card>
        </ion-col>       
      </ion-row>
    </ion-grid>
  </div>


  <div *ngIf="!waiting && purchases.length > 0">
    


    <ion-grid style="padding:0px 15px 70px 15px;" fixed>
      <ion-row>
        <ion-col (click)="Purchase(p) " *ngFor="let p of purchases" size="12">
          <ion-card class="shadow">
            <div class="square">
              <img [src]="p.img" />
            </div>
           <div class="ion-padding" >
            <ion-text color="primary">
              <strong style="font-size: 15px;">Fecha: {{p.date | date: 'shortDate'}} - {{p.date | date:
                'shortTime'}}</strong>
              <ion-text color="medium">
                <div style="font-size: 14px;">Total: {{p.total | currency:'USD'}} </div>
                </ion-text>
            </ion-text></div>
          </ion-card>
        </ion-col>       
      </ion-row>
    </ion-grid>
  </div>
</ion-content>